.bgImage{
  background-image: url('../assets/wine.jpg');
  background-size: cover;
  background-repeat:repeat-x;
  background-position: 50%;
  height: 100vh;
}
.search {
    color: #3276FB;
    height: 28vh;
}

.search h1 {
font-size: 36px;
margin: 0;
font-family: 'Poppins', sans-serif;
}

.search form {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-bottom: 30px;
background: rgb(255, 255, 255. 0.7);
}

.search input {
  background: rgb(255, 255, 255,0.2);
  color: #3276FB;
  width: 300px;
border-top: 0;
border-left: 0;
border-right: 0;
font-size: 15px;
border-bottom: 3px solid #3276FB;
color: #3276FB;
}
.search h1{
  color: #3276FB;
}

.productList{
  color: #3276FB;
width: 100%;
  margin: 0;
  background: #F8F4EF;
  display: flex;
  flex-wrap: wrap;
}
